<footer class="grid-container">
    <div class="grid-x">
        <div class="small-12 medium-10 cell text-left">
            <div class="grid-container">
                <div class="grid-x">
                    <ul class="menu">
                        <li><a href="">
                          <img src="../assets/img/mention.png" alt="">
                          <p>Mentions légales</p>
                        </a></li>
                        <li><a href="">
                          <img src="../assets/img/contact.png" alt="">
                          <p>Contact</p>
                        </a></li>
                    </ul>
                </div>
            </div>
      </div>

        <div class="small-12 medium-2 cell text-right">
                <ul class="menu">
                    <li><a href="">
                      <img src="../assets/img/twitter.png" alt="">
                    </a></li>
                    <li><a href="">
                      <img src="../assets/img/facebook.png" alt="">
                    </a></li>
                    <li><a href="">
                      <img src="../assets/img/instagram.png" alt="">
                    </a></li>
                </ul>
         </div>
    </div>
</footer>
